Pillow
nltk
langchain
langchain-aws
langchain-openai
langchain-community
langchain-chroma
langchain-core
langchain-text-splitters
unstructured
unstructured-client
unstructured-ingest
chromadb
numpy
openai
pytesseract
scikit-learn
backoff
streamlit
